:root {
  --primary-green: #36a420;
  --primary-blue: #166fe5;
  --secondary-blue: #23d2e2;
  --primary-black: #1c1e21;
  --secondary-black: #181828;
  --primary-purple: #615dfa;
  --primary-white: #fff;
  --secondary-white: #ececec;
  --primary-bg-white: #f7f7fb;
}
